<div class="container">
    <div class="row">
        <div class="col-md-3 btn btn-primary">
            <a routerLink="simple" style="color: aliceblue;">Simple</a>
        </div>
        <div class="col-md-3 btn btn-primary">
            <a routerLink="multicaste" style="color: aliceblue;">Multicaste</a>
        </div>
        <div class="col-md-3 btn btn-primary">
            <a routerLink="referenceCount" style="color: aliceblue;">Reference Count</a>
        </div>
        <div class="col-md-3 btn btn-primary">
            <a routerLink="behavior-subject" style="color: aliceblue;">Behavior Subject</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 btn btn-primary">
            <a routerLink="replay-subject" style="color: aliceblue;">Replay Subject</a>
        </div>
    </div>
</div>>